/**
 * RESET
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:focus, a:active {
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.separator {
  height: 1px;
  border: none;
  background: #EFF3F6;
  width: 300px;
  margin: 0 auto;
}


/**
 * TOP SECTION
 */

.top {
  background-image: -webkit-linear-gradient(top left, #485069 0%, #33394D 100%);
  background-image: linear-gradient(to bottom right, #485069 0%, #33394D 100%);

  height: auto;
  /*padding-top: 20px;*/
  text-align: center;
  position: relative;

  /*overflow: hidden;*/
}

.featured-image {
  display: block;
  margin: 20px auto 0;
  width: 100%;
  max-width: 836px;

  opacity: 0;
  -webkit-animation: slide-up 0.6s ease 0.6s 1 normal forwards;
  animation: slide-up 0.6s ease 0.6s 1 normal forwards;
}

.top:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;

  box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.08);
}

.logo {
  width: 100px;
  height: 39px;
  display: inline-block;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  -webkit-transform: scale(0.8);
  margin-right: 10px;
  transform: scale(0.8);
  position: relative;
  top: 4px;
}

h1 {
  color: white;
  font: 400 28px 'Oswald', sans-serif;

  opacity: 0;
  -webkit-animation: slide-up 0.6s ease 0.4s 1 normal forwards;
  animation: slide-up 0.6s ease 0.4s 1 normal forwards;
}

.button {
  margin-top: 25px;
  height: 50px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  font-weight: 600;
  line-height: 52px;
  padding: 0 70px;
  background: #FCAB52;
  letter-spacing: 0.5px;

  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  opacity: 0;
  -webkit-animation: slide-up 0.6s ease 0.5s 1 normal forwards;
  animation: slide-up 0.6s ease 0.5s 1 normal forwards;
}

.button:hover {
  background: #03AADB
}

/**
 * FEATURES SECTION
 */

h2 {
  color: #485069;
  font: 400 24px 'Oswald', sans-serif;
  text-align: center;
  padding: 40px 0;
}

.features-item {
  margin: 60px 0;
}

.features-item__image {
  width: 100%;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.10);
}

.features-item__text {
  text-align: center;
  margin-top: 30px;
}

h3 {
  font: 400 24px 'Oswald', sans-serif;
  color: #31374A;
}

p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
  color: #33394D;
}


/**
 * FEATURES SECTION
 */

.highlights {
  background: #FAFBFD;
  padding: 30px 0;
}

.highlights ul {
  list-style-type: none;
}

.highlights li {
  text-align: center;
  display: inline-block;
  width: 50%;
  padding: 30px 0;
}

.highlights img {
  height: 36px;
}

/**
 * FOOTER
 */

footer {
  background-image: -webkit-linear-gradient(top left, #485069 0%, #33394D 100%);
  background-image: linear-gradient(to bottom right, #485069 0%, #33394D 100%);

  padding: 60px 0;
  text-align: center;
}

footer a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer a:hover {
  opacity: 1;
}

.social {
  margin-bottom: 30px;
}

.social a {
  display: inline-block;
  height: 32px;
  width: 32px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.5;
}

.social .twitter { background-image: url(../img/twitter.png); }
.social .github { background-image: url(../img/github.png); margin-right: 60px; }

.credits {
  font-size: 14px;
  margin-bottom: 30px;
}

.credits a {
  margin-right: 20px;
  color: white;
  opacity: 0.5;
}

.love {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
}

.love-icon, .us-icon {
  height: 15px;
  width: 16px;
  background-image: url(../img/heart.png) ;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: 2px;
}

.us-icon {
  width: 20px;
  background-image: url(../img/us.png);
}

/**
 * CHANGES FOR DESKTOP/TABLES
 */

@media (max-width: 550px) {
  .desktop-only { display: none; }
  .mobile-only { display: block; }
}

@media (min-width: 550px) {
  .desktop-only { display: none; }
  .mobile-only { display: block; }

  .logo {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  h1 {
    font: 400 36px 'Oswald', sans-serif;
  }

  h2 {
    font: 400 32px 'Oswald', sans-serif;
    padding: 60px 0;
  }

  h3 {
    font: 400 28px 'Oswald', sans-serif;
    color: #31374A;
    line-height: 42px;
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 27px;
  }

  .highlights p {
    font-size: 16px;
  }

  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

}

@media (min-width: 750px) {
  .desktop-only { display: block; }
  .mobile-only { display: none; }

  .features-item {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;

    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .features-item--reverse {
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
  }

  .features-item__image {
    height: 250px;
    max-width: 400px;
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }

  .features-item__text {
    text-align: left;
    margin-top: 0;
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }

  .features-item .features-item__image { margin-right: 100px; }
  .features-item--reverse .features-item__image { margin-right: 0; }
  .features-item--reverse .features-item__text { margin-right: 100px;; }

  .highlights li {
    text-align: center;
    display: inline-block;
    width: 33.33%;
    padding: 30px 0;
  }

  footer .container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;

    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  footer .container > div {
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }

  .social { margin-bottom: 0 }
  .credits { text-align: left; margin: 0 }
  .love { text-align: right; }

}


@media (min-width: 980px) {
  .container {
    padding: 0;
  }
}


.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 18px;
  height: 11px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 18px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -4px;
}

.hamburger-inner::after {
  bottom: -4px;
}

.hamburger .hamburger-inner {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}

.hamburger .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}

.hamburger.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header {
  padding: 30px 0;
  margin-bottom: 40px;
  opacity: 0;
  -webkit-animation: slide-down 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s forwards;
  animation: slide-down 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s forwards;
  position: relative;
  z-index: 2; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;
}

.logo-top, .logo-bottom {
  display: inline-block;
  width: 57px;
  height: 23px;
  background-image: url(../img/logo-white@2x.png);
  background-size: cover; }

.nav {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  text-align: left;
}

.nav__item {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.nav__item--active:after, .nav__item--active:hover::after {
  bottom: -10px;
  opacity: 1;
}

.nav__link {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  margin-left: 10px;
  padding: 20px;
  position: relative;
}

.nav__link:hover {
  background: #485069;
  border-radius: 5px;
}

.download-link {
  margin-right: 30px;
}

.nav__item:hover .nav__dropdown {
  top: 30px;
  opacity: 1;
  visibility: visible;
}

.nav__dropdown {
  position: absolute;
  font-size: 14px;
  width: 200px;
  padding: 5px 0;
  background: white;
  border-radius: 3px;
  list-style: none;
  top: 15px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.nav__dropdown:after {
  position: absolute;
  content: '';
  left: 0;
  top: -10px;
  right: 0;
  height: 10px;
}

.nav__dropdown:before {
  position: absolute;
  content: '';
  left: 25px;
  top: -4px;
  width: 12px;
  height: 12px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 3px;
  z-index: -1;
}

.nav__dropdown___item a {
  text-decoration: none;
  color: #190F27;
  padding: 10px 20px;
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav__dropdown___item a:hover {
  background: #f3f5f7;
}

#mobile-nav {
  background-image: -webkit-linear-gradient(top left, #485069 0%, #33394D 100%);
  background-image: linear-gradient(to bottom right, #485069 0%, #33394D 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding-top: 100px;
  text-align: center;
}

#mobile-nav .mobile-nav__link {
  display: block;
  padding: 18px 0;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

#mobile-nav .mobile-nav__link:hover {
  background: #485069;
  transition: all 0.25s
}

#mobile-nav .mobile-nav__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

#mobile-nav .mobile-nav__item:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

#mobile-nav.mobile-nav--visible {
  opacity: 1;
  visibility: visible;
}
#mobile-nav.mobile-nav--visible .mobile-nav__item {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
#mobile-nav.mobile-nav--visible .mobile-nav__item:nth-of-type(1) {
  -webkit-transition-delay: 0.06s;
  transition-delay: 0.06s;
}
#mobile-nav.mobile-nav--visible .mobile-nav__item:nth-of-type(2) {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}
#mobile-nav.mobile-nav--visible .mobile-nav__item:nth-of-type(3) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s;
}
#mobile-nav.mobile-nav--visible .mobile-nav__item:nth-of-type(4) {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}



@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    position: relative;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    position: relative;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    position: relative;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    position: relative;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    position: relative;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    position: relative;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    position: relative;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    position: relative;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
}
